/* Biểu định kiểu (CSS3) cho hệ thống đăng nhập an toàn của chúng tôi. */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}
body {
    height: 100%;
    background-color: #435165;
}
.bg_login{
    position: fixed;
    z-index: 1;
    display: block;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(3px);
    left: 0;
    right: 0;
}

.bg_register{
  position: fixed;
  z-index: 1;
  display: block;
  height: 100%;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  left: 0;
  right: 0;
}

.login {
    position: fixed;
    z-index: 9999 !important;
    width: 400px;
    background-color: #035289ad;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    left: 0;
    right: 0;
}
.login h1 {
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    padding: 20px 0 0 0;
    text-transform: uppercase;
    /* border-bottom: 1px solid #dee0e4; */
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 30px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}
.login form .create_account{
    display: inline-block;
    width: 310px;
    margin-top: 30px;
    text-align: center;
}
.login form .create_account a{
    color: #ffffff;
    font-size: 16px;
}




    /* ------------------ */
.register {
  position: sticky;
  z-index: 9999 !important;
  width: 400px;
  background-color: #035289ad;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}
.register h1 {
  text-align: center;
  color: #ffffff;    ;
  font-size: 26px;
  padding: 30px 0 0 0;
  text-transform: uppercase;
  /* border-bottom: 1px solid #dee0e4; */
}
.register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.register form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}
.register form input[type="password"],
.register form input[type="text"],
.register form input[type="number"],
.register form select {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 30px;
  padding: 0 15px;
}

.register form .login_back{
    display: inline-block;
    width: 310px;
    margin-top: 30px;
    text-align: center;
}

.register form .login_back a{
    color: #ffffff;
}
/* ----------------------- */
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}

/* _________________________________________________________ */
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}




/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(252, 100%, 16%) 0%,
    hsl(235, 100%, 32%) 8%,
    hsl(226, 100%, 32%) 92%,
    hsl(261, 100%, 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  /* background: hsl(345deg 100% 47%); */
  background:#3274d6 ;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}



/*------------*/
.popup {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.popup .popuptext {
    visibility: hidden;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9f0000e8;
    color: #fff;
    border-radius: 6px;
    z-index: 99999;
    width: 50%;
}

.popup .message {
    visibility: hidden;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1772a0;
    color: #fff;
    border-radius: 6px;
    z-index: 99999;
    width: 50%;
    text-align: center;
}

.popup .message_error {
    visibility: hidden;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9f0000e8;
    color: #fff;
    border-radius: 6px;
    z-index: 99999;
    width: 50%;
    text-align: center;
}

#myPopup {
    display: flex;
}
#myPopup h1{
    margin-left: auto;
}

#myPopup a{
    margin-left: auto;
    padding-right: 5px;
    text-decoration: none;
    color: #ffffff;
}

#errorPopup {
    display: flex;
}
#errorPopup h1{
    margin-left: auto;
}

#errorPopup a{
    margin-left: auto;
    padding-right: 5px;
    text-decoration: none;
    color: #ffffff;
}

